@import "colors";

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 150px;
  background-color: $orangeOp;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a,
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: black;
      border: 1px solid red;
      opacity: 70%;
      i {
        display: block !important;
      }
    }

    a:hover {
      opacity: 100%;
    }
  }
  .footer-copyright {
    padding: 0;
    i {
      color: red;
    }
  }
}
